@model IEnumerable<PizzaShop.WebApp.Models.Order>

@{
    ViewData["Title"] = "AllOrderDetails";
}

<h2>Order List</h2>

@TempData["FeedbackMsg"]
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("View Details", $"SingleOrderDetails", new { orderId = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Index">Return to Order Archive</a>
</p>
