@model PizzaShop.WebApp.Models.Order

@{
    ViewData["Title"] = "SingleOrderDetails";
}

<h2>SingleOrderDetails</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        @for (int i = 1; i <= Model.Pizzas.Count; i++)
        {
            <p>Pizza @i</p>
            @Html.Partial(@"..\Pizza\Details", Model.Pizzas[i-1])
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Order Archive</a>
</div>
